{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <form action="{{ path("register_page") }}" method="post">
                    {{ form_errors(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    {{ form_rest(form) }}

                    <input type="submit" class="btn btn-success pull-right" value="Register"/>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="jumbotron">
            <h1>Jumbotron</h1>
            <a href="/login" class="btn btn-primary btn-lg">Sign In</a>
            <a href="/login" class="btn btn-default btn-lg">Register</a>
        </div>
    </div>
{% endblock %}